.App{
    background-color: #222;
}

/*
The brand color palette for Alienware is made up of 6 colors.

Alienware Madison
Hex: #0c3866
RGB: 12, 56, 102

Alienware Puerto Rico
Hex: #49c0b6
RGB: 73, 192, 182

Alienware Mine Shaft
Hex: #222
RGB: 0, 2, 34

Alienware Thunderbird
Hex: #ce181e
RGB: 206, 24, 30

Alienware Lochmara
Hex: #007cc0
RGB: 0, 124, 192

Alienware Supernova
Hex: #ffc20e
RGB: 255, 194, 14
*/