.ContenedorTarjeta{
    width: 90%;
    height: 400px;
    margin: 0 auto ;
    align-items: center;
    justify-content: center;
    display: flex;
}
.Tarjeta{
    background:linear-gradient(#222,#222,#222, #ce181e) ;
    color: #ffc20e;
    font-size: 20px;
    font-family: general;
    width: 20%;
    height: 350px;
    margin: 20px;
    display: inline-block;
    text-align: center;
    /*border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);*/
    border-radius: 25px;
    border: 2px solid transparent;
    background:
    linear-gradient(#222,#222,#222, #ce181e) padding-box,
    linear-gradient(to right, #0c3866, #49c0b6, #222, #ce181e, #007cc0, #ffc20e) border-box;
    filter: drop-shadow(0px 0px 10px rgba(0, 2, 34, 0.8));
}
.Tarjeta img{
    width: auto;
    height: 150px;
    padding: 10px;
    margin-top: 10px;
}
.Tarjeta a{
    text-decoration:underline solid #ffc20e 2px;
    color: #49c0b6;
    font-family: ligas;
}

@font-face{
    font-family: 'titulos';
    src: url('./assets/titulos.otf');
}
@font-face{
    font-family: 'texto';
    src: url('./assets/texto.otf');
}
@font-face{
    font-family: 'general';
    src: url('./assets/general.otf');
}
@font-face{
    font-family: 'ligas';
    src: url('./assets/ligas.otf');
}