
.Encabezado {
    background: linear-gradient(90deg, #0c3866, #222,#222, #0c3866);
    width: 100%;   
    box-shadow: 2px 2px 10px rgba( 206, 24, 30, 0.2);
}
.Encabezado div {
    display: flex;

}
.divClima{
    align-items: center;
    align-content: center;
    justify-content: center;
}
.Logo{
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.Logo img {
    width: 200px;
    
}
.menuDiv{
    width:60%;
    align-items: center;
    justify-content: center;
}
.menuDiv ul {
    width: 80%;
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 25px;
    font-family: titulos;
    background-color:#0c3866;
    margin-top: 50px;
    padding: 10px ;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.menuDiv ul li {
    text-decoration: none;
    color: white;

}
.menuDiv ul li:hover {
    text-decoration: none;
    color: black;
    background-color: #49c0b6;
    padding: 10px;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}
.redesDiv{
    width: 20%;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}
.redesDiv ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}
.redesDiv li img {
    width: 50px;
    display: flex;
    margin: 10px;

}
.redesDiv ul li img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
@font-face{
    font-family: 'titulos';
    src: url('./assets/titulos.otf');
}
