h2{
    color: palevioletred;
}
h1{
    color: plum;
}
.Encabezado {
    background-color: plum;
    width: 100%;   

}
.Encabezado div {
    display: flex;

}
.Logo{
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.Logo img {
    width: 200px;
    
}
.menuDiv{
    width:60%;
    align-items: center;
    justify-content: center;
}
.menuDiv ul {
    width: 50%;
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color:beige;
    margin-top: 50px;
    padding: 10px ;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.menuDiv ul li a {
    text-decoration: none;
    color: black;

}
.menuDiv ul li a:hover {
    text-decoration: none;
    color: black;
    background-color: aliceblue;
    padding: 10px;

}
.redesDiv{
    width: 20%;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}
.redesDiv ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}
.redesDiv li img {
    width: 50px;
    display: flex;
    margin: 10px;

}
.redesDiv ul li img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
