.Galeria{
    width: 90%;
    height: auto;
    margin: 0 auto ;
    align-items: center;
    justify-content: center;

}
.Producto{
    width: 30%;
    height: auto;
    margin: 20px;
    display: inline-block;
    align-items: center;
}
.Producto img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    padding: 10px;
    margin-top: 10px;
}

.Producto img:hover {
  transform: translateY(-20px);
}