
.ContenedorInformacion {
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: center;
    margin : 0 auto;
}

.Info{
    background-image: linear-gradient(rgba(255, 255, 255, 0.3)),url('./assets/imagenpanel.png');
    background-position: center ;
    background-size: cover;
    width: 90%;
    height: 500px;
    margin : 0 auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-family: general;
    
}
.Info h3{
    font-family: titulos;
    font-size: 40px;
    color: #0c3866;
    margin-top: 20px;
    text-shadow: 2px 2px 5px rgba(255, 194, 14, 0.5);
}
.Info p{
    font-family: general;
    font-size: 30px;
    color: #222;
    margin: 20px;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(206, 24, 30, 0.5);
}
.Info a{
    font-family: ligas;
    font-size: 25px;
    color: #0066cc;
    text-decoration:underline solid #ffc20e 2px;
}

@font-face{
    font-family: 'titulos';
    src: url('./assets/titulos.otf');
}
@font-face{
    font-family: 'general';
    src: url('./assets/general.otf');
}
@font-face{
    font-family: 'ligas';
    src: url('./assets/ligas.otf');
}