.Productos{
  padding: 20px;
  color: white;
  width: 90%;
  height: auto;
  margin: 20px auto ;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

.card {
  background:linear-gradient(#0c3866,#0c3866,#222, #ce181e);
  border-radius: 14px;
  padding: 15px;
  color: white;
  text-align: center;
  transition: 0.3s;
  font-family: general;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.6);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.card a {
  text-decoration: none;
  color: #00b4ff;
}

.card p {
  color: #aaa;
  font-size: 14px;
}