.Sucursales{
  width: 90%;
  margin: 30px auto;
  text-align: center;
  font-family: general;
  color: #ffc20e;
}

.GaleriaSucursales{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: stretch;
}

.TarjetaSucursal{
  width: 280px;
  margin: 10px;
  padding: 15px;
  border-radius: 25px;
  color: #ffc20e;
  font-family: general;
  background: linear-gradient(#222, #222, #222, #ce181e) padding-box,
              linear-gradient(to right, #0c3866, #49c0b6, #222, #ce181e, #007cc0, #ffc20e) border-box;
  border: 2px solid transparent;
  filter: drop-shadow(0px 0px 10px rgba(0, 2, 34, 0.8));
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.TarjetaSucursal img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.TarjetaSucursal h2,
.TarjetaSucursal h3{
  margin: 10px 0;
  font-family: titulos;
  color: #49c0b6;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.TarjetaSucursal p{
  margin: 8px 0;
  font-family: general;
  color: #ffc20e;
}

@font-face{
    font-family: 'titulos';
    src: url('./assets/titulos.otf');
}
@font-face{
    font-family: 'texto';
    src: url('./assets/texto.otf');
}
@font-face{
    font-family: 'general';
    src: url('./assets/general.otf');
}
@font-face{
    font-family: 'ligas';
    src: url('./assets/ligas.otf');
}
