.Sucursales {
  text-align: center;
  padding: 20px;
}

.GaleriaSucursales {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.TarjetaSucursal {
  width: 280px;
  border-radius: 10px;
  padding: 15px;
  background: #007cc0;
  font-family: general;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.TarjetaSucursal img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.Sucursales h2{
    margin: 10px 0;
    color: #fff;
    font-family: titulos;
}
